.input {
    margin: 1rem .75rem 1rem 0;
    padding: .5rem 1rem;
}

.addButton {
    margin: 1rem 0 1rem 1rem;
    padding: .5rem 2rem;
}

.deleteButton {
    margin: 1rem 0;
    padding: .5rem 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

