
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.gridContainer {
    width: clamp(20rem, 100%, 50rem);
}
