.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.grid-container {
    width: clamp(20rem, 100%, 50rem);
}

.app-wrapper {
}